body {
    padding: 0%;
    text-align: center;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   background-image: url(/styles/wallpaper.jpg); 
   background-repeat:no-repeat;
   background-size: cover;
   background-color: #000;
   background-position: center;

  }
  

  .portada {
    float:left;
    padding: 8% 8%;
    width: 360px;
    border-radius: 20%;
  }
  
  body button {
    font-size: 40px;
    background-color: green;
    color: #fff;
    padding: 2% 8%;
    border-radius: 30px;
    margin-bottom: 60px;
    position:relative;
  }
  
  #game-board {
      float: left;
      padding: 50px 0px;
      
  }
  
  canvas {
    border: 1px solid black;
   background-image: url(/styles/background\ canvas.gif);  
    background-repeat:no-repeat;
    background-size:cover;
    border-radius: 8%;
  }
  